{% include "base/base.html" %}

<div class="container offset-1 mt-3">
    <div class="row">
      <div class="d-flex">
        <a href=" {% url 'home' %}" class="btn btn-outline-primary btn-sm rounded-pill shadow">Add Employee</a>
      </div>
        <div class="col-12">
          <div class="message offset-3">
            <div class="col-6">
              <div class="col-12">
                {% if messages %}
          {% for message in messages %}
              <div class="{% if message.error %} alert alert-danger {{ message.tags }} alert-dismissible fade show {% else %} alert alert-success {{ message.tags }} alert-dismissible fade show {% endif %} " role="alert">
                  {{ message }}
                  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
          {% endfor %}
      {% endif %}
              </div>
            </div>
          </div>
            
            <table class="table display table-bordered" id="myTable">
                <thead >
                  <tr>
                    <th scope="col">Sr.No.</th>
                    <th scope="col">NAME</th>
                    <th scope="col">EMAIL</th>
                    <th scope="col">CONTACT</th>
                    <th scope="col">GENDER</th>
                    <th scope="col">ADDRESS</th>
                    <th scope="col">EDUCATION</th>
                    <th scope="col">EXPERINCE</th>
                    <th scope="col">PINCODE</th>
                    <th scope="col">Action</th>
                  </tr>
                </thead>
                <tbody>
                  {% for i in data %}
                  <tr>
                    <th scope="row">{{forloop.counter}} </th>
                    <td>{{i.name}} </td>
                    <td>{{i.email}} </td>
                    <td>{{i.phone}} </td>
                    <td>{{i.gender}} </td>
                    <td>{{i.address}} </td>
                    <td>{{i.education}} </td>
                    <td>{{i.experince}} </td>
                    <td>{{i.pincode}} </td>
                    <td>
                      <a href=" {% url 'employeeupdate' i.id %} " class="btn btn-warning btn-sm " >edit</a> 
                      <a href="{% url 'employeeDelete' i.id %} " class="btn btn-danger btn-sm">Delete</a>
                    </td>
                    
                  </tr>
                  {% endfor %}
                </tbody>
              </table>


        </div>
    </div>
</div>

