{% include "base/base.html" %}
  {% load static %}
<style>
   
    
    .login-container {
      max-width: 400px;
      margin: 0 auto;
      margin-top: 60px;
      padding: 20px;
     color: aliceblue;
      border: 3px solid #569fe7;
      border-radius: 20px;
      box-shadow: 12px 12px 30px 5px rgba(224, 221, 221, 0.453);
    }
    .login-container input {
      
      border-radius: 20px;
      box-shadow: 5px 9px 10px 4px rgba(20, 20, 21, 0.1);
    }
    .login-container a{
      border: 1px solid #4297eb;
      border-radius: 20px;
      box-shadow: 5px 9px 10px 4px rgba(20, 20, 21, 0.1);
    }
    .login-container button{
      border: 1px solid #4297eb;
      border-radius: 20px;
      box-shadow: 5px 9px 10px 4px rgba(20, 20, 21, 0.1);
    }
    .login-container h2 {
      margin-bottom: 20px;
      text-align: center;
    }
    
    .login-container .form-control {
      margin-bottom: 20px;
    }
    
    .login-container button {
      width: 100%;
    }

    .profile-image {
      width: 150px;
      height: 150px;
      border-radius: 50%;
      border: 1px solid black;
      object-fit: cover;
      box-shadow: 0px 4px 7px ;
      padding: 1%;
    }
    .image{
    text-align: center !important;
    
  }
  .users{
    text-align: center;
    font-size: small;
    margin-top: 5px;
  }
  </style>


  <div class="container">
    <div class="message offset-4 mt-3 mb-0">
      <div class="row">
        <div class="col-5">
          <div class="col-12">
          {% if messages %}
          {% for message in messages %}
              <div class="alert alert-success {{ message.tags }} alert-dismissible fade show rounded-pill" role="alert">
                  {{ message }}
                  <button type="button" class=" btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
          {% endfor %}
          {% endif %}
          
          </div>
        </div>
      </div>
    </div>
    <div class="login-container">
      
      <div class="image">
          <img src="{% static 'assets/image4.png' %}" alt="Profile Image" class="profile-image">
      </div>

      <h2 class="users">User</h2>
      
      <form action="{% url 'login' %}" method="POST">
        {% csrf_token %}
        <div class="form-group">
          <input type="text" class="form-control" name="username" placeholder="Username">
        </div>
        <div class="form-group">
          <input type="password" class="form-control" name="password" placeholder="Password">
        </div>
        <div class="d-grid gap-2 col-6 mx-auto">
         <button type="submit" class="btn btn-primary">Sign in</button>
         </div>
      </form>
      <div class="d-grid gap-2 col-6 mx-auto">
        <a  href="{% url 'register' %}" class="btn btn-primary btn-sm mt-1">  Sign up !</a>

      </div>
    </div>


  
